.container{
    width:95%;
    margin:auto;
}

.flex{
    display:flex;
}

.grid{
    display:grid;
}

.align-center{
    align-items:center;
}

.justify-between{
    justify-content:space-between;
}

.text-center{
    text-align:center;
}